.r {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 280px);
    padding: 59px 0 0 40px;
    height: 118px;
}
.r h1 {
    letter-spacing: .7px;
    lihe-height: 1.4;
    font-size: 48px
}
