.inr {
    width: calc(100% - 120px);
	position: relative;
	padding: 0 60px;
}

.dark {
    text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 48px;
	padding: 0;
	background: #101010;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 50;
    transition: all.25s ease;
    -o-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -webkit-transition: all .25s ease;
}

.dark nav {
    display: inline-block;
	height: 48px;
	line-height: 48px;
	text-align: center;
	margin: 0 auto;
}

nav ul li {
    display: inline-block;
}

nav ul {
    position: relative
}

.dark .current {
    width: 44px;
    position: absolute;
    bottom: 2px;
    border-bottom: 2px solid #fff;
    transition: all.2s ease;
    -o-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
}
.light .current {
    width: 44px;
    position: absolute;
    bottom: 2px;
    border-bottom: 2px solid #000;
    transition: all.2s ease;
    -o-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

.dark nav a, .light nav a {
	text-decoration: none;
    display: inline-block;
	margin: 0 25px;
	letter-spacing: .7px;
	font-family: 'playfiar Display', serif;
}

.dark nav a {
	color: #fff;
}

.light {
    text-align: center;
	position: fixed;
	width: 100%;
	height: 48px;
	left: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 1);
    z-index: 999;
	box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
    transition: all .2s ease;
    -o-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
}
.light nav {
	height: 48px;
	line-height: 48px;
	text-align: center;
	margin: 0 auto;
}
.light nav ul {
    display: inline-block;
    position: relative
}
.light nav a {
	color: #000;
}

.logo {
	position: fixed;
	bottom: 11px;
    left: 60px;
}
.add img {
    transition: all .2s ease;
    -o-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
}
.light .add {
    vertical-align: middle;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 48px;
    width: 48px;
    position: fixed;
    right: 60px;
    bottom: 22px;
    display: inline-block;
    background: #fff;
    border: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
.light .add:hover {
    background: #F9BE32;
    cursor: pointer
}
.dark .add {
    vertical-align: middle;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 48px;
    width: 48px;
    position: fixed;
    right: 60px;
    bottom: 22px;
    display: inline-block;
    background: #fff;
    border: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
.dark .add:hover {
    cursor: pointer
}
.add:focus {
    outline: 0;
}
