.dark, .light {
    width: 85px;
    height: 33px;
    border-radius: 30px;
    position: absolute;
    top:7px;
    right: 60px;
    border: none;
    font-family: "playfiar Display", serif;
}
.dark {
    background: #fff;
    color: #000;
}
.light {
    background: #000;
    color: #fff;
}