.r {
    height: 100%;
}
.r h1 {
    font-size: 33px;
    font-weight: 600;
    color: #333;
}
.r span {
    margin-right: 5px;
    font-family: 'Lato', san-serif;
    font-weight: 100;
}
.r .in {
    padding: 40px 60px;
    width: calc(100% - 230px);
    height: calc(100% - 80px);
    overflow: scroll
}
.r .title {
    margin-top: 30px;
}
.r .title input[type="text"]::-webkit-input-placeholder {
    color: #ccc
}
.r .title input[type="text"] {
    letter-spacing: 1px;
    color: #000;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    border: 0;
    width: 100%;
    font-size: 28px;
    position: relative;
}

.r .description textarea::-webkit-input-placeholder {
    color: #ccc
}
.r .description {
    margin-top: 30px;
}
.r .description textarea {
    line-height: 1.8;
    resize: none;
    font-size: 14px;
    border: 0;
    outline: 0;
    width: 100%;
    min-height: 200px;
}
.r .description textarea:hover {
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    background: #fafafa
}
.r .wrap {
    display: flex;
    overflow: scroll;
    height: 100%;
}
.r .tasks {
    background: #f8f8f8;
    height: 100%;
    width: 100%;
    position: relative;
}
.r .tasks header{
    padding: 40px 60px 20px;
    position: absolute;
    width: calc(100% - 120px);
    left: 0;
    top: 0;
}
.r .tasks header h1 {
    font-size: 22px;
}
.r .tasks .items {
    position: absolute;
    overflow: scroll;
    height: calc(100% - 82px);
    width: 100%;
    top: 82px;
}
.r .tasks .items ul li:hover {
}
.r .tasks .items ul li {
    padding: 0 60px;
}
.r .tasks .items ul li span {
    border-bottom: 1px solid #e6e6e6
}
.dnd {
    width: 30px;
}
.assigned {
    margin-top: 20px;
    color: #999;
    font-size: 11px;
    display: flex;
    position: relative;
}
.assigned p {
    color: #ccc;
    font-weight: bold;
    padding: 13px 10px 0 0;
}
.assigned ul li {
    align-items: flex-start;
    border: 1px solid #fff;
    padding: 3px 18px 3px 3px;
    display: flex
}
.assigned ul li:hover {
    border: 1px solid #333;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    cursor: pointer;
}
.assigned ul li .name {
    font-size: 12px;
    color: #333;
    padding: 9px 0 0 7px;
}
.assigned img {
    max-width: 28px;
    height: auto;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.r .types .label {
    margin-top: 25px;
    color: #ccc;
    font-size: 11px;
    font-weight: bold;
    padding: 13px 10px 0 0;
}
.r .choosen {
    cursor: pointer;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    margin-top: 5px;
    padding: 12px 40px 12px 0;
    display: inline-block;
    border-bottom: 1px solid #000
}
.typesInr {
    padding: 10px 0 0 0
}
.list {
  overflow: scroll;
  height: 180px;
  width: 200px;
  position: absolute;
  top: 25px;
  left: 80px;
  background-color: #fafafa;
  border: 1px solid #000;
  border-radius: 5px;
}
.assigned .plus {
  height: 20px;
  width: 20px;
}
.assigned .plusx {
  height: 20px;
  width: 20px;
  transform: rotate(-45deg);
}
