.side {
    font-family: 'playfiar Display', serif;
    width: 250px;
    height: calc(100% - 48px);
    position: absolute;
    top: 0;
    left: 0;
}
.inr {
    position: relative
}
.side nav ul li {
    transition: all 2s ease;
    -o-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -webkit-transition: all 2s ease;
    display: block;
    line-height: 2.4;
}
.side nav ul li a {
    position: absolute;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    color: #666;
    display: block;
    transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}
.side nav ul li.on a {
    color: #fff;
}
.side nav ul li a:hover {
    color: #ccc;
}
.side nav ul li.on a:hover {
    color: #fff;
}
.currentBar {
    background: rgba(255,255,255,1);
    height: 16px;
    width: 42px;
    position: absolute;
    border-top-right-radius: 40px;
    -moz-border-top-right-radius: 40px;
    -webkit-border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    -moz-border-bottom-right-radius: 40px;
    -webkit-border-bottom-right-radius: 40px;
    transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}
.back {
    position: absolute;
    transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}
.secondNav {
    animation:  bottomUp 1.2s both;
    opacity: 0;
}

@keyframes bottomUp {
    0% {
        opacity: 0;
        transform: translateY(500px);
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

